name: CI
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    
      - name: Installation des dependances 
        run: npm install

      - name: Executer lint
        run: npm run lint

      - name: Executer test
        run: npm run test
