name: CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests et Validation

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Installation des dépendances
        run: npm ci

      - name: Exécuter ESLint
        run: npm run lint

      - name: Exécuter les tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Déployer sur Render
        uses: sws2apps/render-deployment@main
        with:
          serviceId: $srv-d5pi8dn5c7fs73bngfvg  # METS TON VRAI SERVICE ID ICI
          apiKey: ${{ secrets.RENDER_API_KEY }}
          

          